zipp==3.1.0
zope.event==4.5.0
zope.interface==5.2.0
gevent==20.9.0
geventhttpclient==1.4.4
greenlet==0.4.17
python-rapidjson==0.9.4
tritonhttpclient==2.1.0
zope.event==4.5.0
zope.interface==5.2.0
oblib==0.17.0
scikit-learn==0.23.2
threadpoolctl==2.1.0
